In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
NWCab = pd.read_csv('N&W Cab Co.csv')
NWCab.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
0,863dcc48da6ed16a4edcda1e4027f78c313f3db1,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,26AUG14:23:15:00,26AUG14:23:30:00,720.0,4.6,NaN,NaN,7.0,6.0,...,0.0,15.30,Credit Card,1085 - 72312 N and W Cab Co,41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014)
1,8645701e9994840da94225d1ac2477d64fcdd7ef,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,10SEP14:21:15:00,10SEP14:21:30:00,720.0,6.8,NaN,NaN,8.0,77.0,...,2.0,17.85,Cash,1085 - 72312 N and W Cab Co,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)
2,865f2696a679b3d5350e356d58fb1d92d2d8bb24,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,15DEC14:20:30:00,15DEC14:20:45:00,480.0,1.3,17031081.0,17031281.0,8.0,28.0,...,2.0,8.85,Cash,1085 - 72312 N and W Cab Co,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.879255,-87.642649,POINT (-87.642648998 41.8792550844)

In [4]:
BennyJona = pd.read_csv('Benny Jona.csv')
BennyJona.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
0,861ad66b46c4ef8329915c59385187eac03238a0,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,02JUL13:11:00:00,02JUL13:11:15:00,1380,7.5,NaN,NaN,28.0,41.0,...,0.0,24.65,Cash,2733 - Benny Jona,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.79409,-87.592311,POINT (-87.592310855 41.794090253)
1,8626d52d09d706cebcf03b49b75d268be7d19afe,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,31DEC13:12:15:00,31DEC13:12:15:00,540,1.7,17031081.0,17031330.0,8.0,33.0,...,1.0,9.85,Cash,2733 - Benny Jona,41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),41.85935,-87.617358,POINT (-87.6173580061 41.859349715)
2,8637465126c318c642f9458635573ae5c526716f,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,12AUG13:16:45:00,12AUG13:17:00:00,840,1.5,17031081.0,17031330.0,8.0,33.0,...,0.0,9.65,Cash,2733 - Benny Jona,41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),41.85935,-87.617358,POINT (-87.6173580061 41.859349715)

In [8]:
CDCab = pd.read_csv('C&D Cab Inc.csv')
CDCab.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
0,868af45428fbd0d8d7aa7e806c8331176c2634d8,b73c5ccd07c299022c5a27dd23d7f774bf30d98ea427b0...,06DEC13:18:30:00,06DEC13:18:45:00,1080.0,2.6,17031081.0,17031833.0,8.0,28.0,...,1.5,12.75,Cash,C & D Cab Co Inc,41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),41.879067,-87.657005,POINT (-87.657005027 41.8790669938)
1,86c878c4ef7fe61cd66a51508f0c70d4624ce115,b73c5ccd07c299022c5a27dd23d7f774bf30d98ea427b0...,13NOV13:17:15:00,13NOV13:17:15:00,480.0,1.1,17031320.0,17031081.0,32.0,8.0,...,1.0,7.45,Cash,C & D Cab Co Inc,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.895033,-87.619711,POINT (-87.6197106717 41.8950334495)
2,86f0c08e528b2ad40ab6e6faa0d7a28b41dc93df,b73c5ccd07c299022c5a27dd23d7f774bf30d98ea427b0...,26OCT13:02:30:00,26OCT13:02:45:00,1260.0,4.0,17031081.0,17031070.0,8.0,7.0,...,0.0,13.45,Cash,C & D Cab Co Inc,41.892073,-87.628874,POINT (-87.6288741572 41.8920726347),41.928763,-87.665677,POINT (-87.665676837 41.9287630064)

In [9]:
Zeymane = pd.read_csv('Zeymane Corp.csv')
Zeymane.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
0,862a9b703039e5bd98ee2890c60d97b5deb5efbf,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,19SEP14:22:30:00,19SEP14:22:45:00,240.0,1.0,17031839.0,17031320.0,32.0,32.0,...,0.0,5.25,Cash,2192 - 73487 Zeymane Corp,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
1,86573a67db44c7c46b752c0b5b2a9917b9939a4e,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,08SEP14:13:30:00,08SEP14:13:45:00,600.0,2.3,NaN,NaN,24.0,8.0,...,0.0,8.05,Cash,2192 - 73487 Zeymane Corp,41.901207,-87.676356,POINT (-87.6763559892 41.9012069941),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
2,86679d7bbb78595c19a84c0c8178323c13225c28,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,19SEP14:17:45:00,19SEP14:17:45:00,600.0,1.4,NaN,NaN,8.0,8.0,...,0.0,8.45,Credit Card,2192 - 73487 Zeymane Corp,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)

In [5]:
train = pd.read_csv('CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals.csv')
train.head(3)

   station_id         stationname        date daytype  rides
0       40010  Austin-Forest Park  01/01/2001       U    290
1       40020         Harlem-Lake  01/01/2001       U    633
2       40030        Pulaski-Lake  01/01/2001       U    483

In [6]:
bus = pd.read_csv('CTA_-_Ridership_-_Bus_Routes_-_Daily_Totals_by_Route.csv')
bus.head(3)

  route        date daytype  rides
0     3  01/01/2001       U   7354
1     4  01/01/2001       U   9288
2     6  01/01/2001       U   6048