In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [42]:
def fileReader(filename,sortCol,startDate,endDate):
    temp = pd.read_csv(filename)
    temp[startDate]=pd.to_datetime(temp[startDate],format='%d%b%y:%X')
    temp[endDate]=pd.to_datetime(temp[endDate],format='%d%b%y:%X')
    temp = temp.sort_values(sortCol)
    return temp

In [43]:
NWCab = fileReader('N&W Cab Co.csv','trip_start','trip_start','trip_end')
NWCab.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
19729,6543e42228cf7459a81d49582781d11728bcc36d,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,2013-02-27 15:45:00,2013-02-27 15:45:00,0.0,0.0,NaN,NaN,16.0,16.0,...,0.5,3.75,Cash,1085 - N and W Cab Co,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)
17370,f38a0db03ee408234da835506fb606e0de89445c,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,2013-02-27 16:00:00,2013-02-27 16:00:00,60.0,0.0,17031160.0,17031160.0,16.0,16.0,...,1.0,4.25,Cash,1085 - N and W Cab Co,41.958798,-87.738394,POINT (-87.7383939059 41.9587978628),41.958798,-87.738394,POINT (-87.7383939059 41.9587978628)
17298,f0465fd9f6eaa68db27922da71c934b76e9224ec,e1a41c8d6d3b0e4aa884ccb8a99f70075f76d82a7f1f5f...,2013-02-27 16:00:00,2013-02-27 16:00:00,0.0,0.0,17031160.0,17031160.0,16.0,16.0,...,2.0,5.25,Cash,1085 - N and W Cab Co,41.958798,-87.738394,POINT (-87.7383939059 41.9587978628),41.958798,-87.738394,POINT (-87.7383939059 41.9587978628)

In [44]:
BennyJona = fileReader('Benny Jona.csv','trip_start','trip_start','trip_end')
BennyJona.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
2270,211f47c4954ab1f9493f7cf825f1428163a52995,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,2013-04-06 17:15:00,2013-04-06 17:15:00,0,0.0,17031061.0,17031061.0,6.0,6.0,...,0.0,3.25,Cash,2733 - Benny Jona,41.943155,-87.640698,POINT (-87.640698076 41.9431550855),41.943155,-87.640698,POINT (-87.640698076 41.9431550855)
3538,78cc7d069533c6973a23b61866d22ea72a03b10e,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,2013-04-06 17:30:00,2013-04-06 17:30:00,60,0.0,17031062.0,17031062.0,6.0,6.0,...,0.0,3.25,Cash,2733 - Benny Jona,41.942577,-87.647079,POINT (-87.6470785093 41.942577185),41.942577,-87.647079,POINT (-87.6470785093 41.942577185)
2727,3fbed513038a79593118910c4c143b02b3d191c7,5ddeb4816014da6742039f250d1d51b573ba46d55b991b...,2013-04-07 10:30:00,2013-04-07 10:30:00,0,0.0,NaN,NaN,13.0,13.0,...,0.0,3.25,Cash,2733 - Benny Jona,41.983636,-87.723583,POINT (-87.7235831853 41.9836363072),41.983636,-87.723583,POINT (-87.7235831853 41.9836363072)

In [45]:
CDCab=fileReader('C&D Cab Inc.csv','trip_start','trip_start','trip_end')
CDCab.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
28642,dee74fcdbeae0074a63923a5ae24777fa1860628,f70c878f9cc8d699bb654046f3d324d95d990ef78a5d9a...,2013-04-27 11:15:00,2013-04-27 11:15:00,0.0,0.0,NaN,NaN,16.0,16.0,...,1.0,4.25,Cash,3201 - CID Cab Co Inc,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)
28433,aff751b6d821a1622e9e9ad33d2a0a3a62a8a8e1,f70c878f9cc8d699bb654046f3d324d95d990ef78a5d9a...,2013-04-27 13:15:00,2013-04-27 15:15:00,7200.0,0.0,NaN,NaN,16.0,NaN,...,0.0,0.00,Unknown,3201 - CID Cab Co Inc,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),NaN,NaN,NaN
28334,9417b75f7624d94f63112261fd17ffc3f533e861,f70c878f9cc8d699bb654046f3d324d95d990ef78a5d9a...,2013-04-27 13:15:00,2013-04-27 13:15:00,0.0,0.0,NaN,NaN,16.0,16.0,...,2.0,5.25,Cash,3201 - CID Cab Co Inc,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)

In [46]:
Zeymane=fileReader('Zeymane Corp.csv','trip_start','trip_start','trip_end')
Zeymane.head(3)

,trip_id,taxi_id,trip_start,trip_end,trip_sec,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_lat,pickup_long,pickup_loc,dropoff_lat,dropoff_long,dropoff_loc
13868,52cf943ef09c8d4575a4b2327482184f98e6f854,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,2013-03-04 12:00:00,2013-03-04 12:00:00,0.0,0.0,NaN,NaN,16.0,16.0,...,0.5,3.75,Cash,2192 - Zeymane Corp,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)
14246,695f1f8679ab076dd00eb459584fff457d5d2929,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,2013-03-04 12:00:00,2013-03-04 12:00:00,120.0,0.0,NaN,NaN,16.0,16.0,...,0.0,4.05,Cash,2192 - Zeymane Corp,41.953582,-87.723452,POINT (-87.7234523905 41.9535821253),41.953582,-87.723452,POINT (-87.7234523905 41.9535821253)
14331,6e88f119552bd00685bb79453cd330b6cee12cc3,6fd8ebb2c170caf53acc0137fec1d84a602d8df3eb04d1...,2013-03-04 12:15:00,2013-03-04 12:15:00,120.0,0.0,17031160.0,17031160.0,16.0,16.0,...,7.0,12.45,Cash,2192 - Zeymane Corp,41.958798,-87.738394,POINT (-87.7383939059 41.9587978628),41.958798,-87.738394,POINT (-87.7383939059 41.9587978628)

In [5]:
train = pd.read_csv('CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals.csv')
train.head(3)

   station_id         stationname        date daytype  rides
0       40010  Austin-Forest Park  01/01/2001       U    290
1       40020         Harlem-Lake  01/01/2001       U    633
2       40030        Pulaski-Lake  01/01/2001       U    483

In [6]:
bus = pd.read_csv('CTA_-_Ridership_-_Bus_Routes_-_Daily_Totals_by_Route.csv')
bus.head(3)

  route        date daytype  rides
0     3  01/01/2001       U   7354
1     4  01/01/2001       U   9288
2     6  01/01/2001       U   6048